*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}
body{
    background : #080808;
    color: #0e0f0f;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(photo/kushal.jpg.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no repeat;


}
.container{
    padding: 10px 10%;

}
nav{
    display : flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
width:140px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: rgb(19, 19, 17);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background: rgb(180, 57, 57);
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.1s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 15%;
    color:rgb(21, 168, 58);
    font-size: 30px;
    
}
.header-text h1{
    margin-top: 2%;
    font-size: 30px;
    color: rgb(0, 131, 55); 
}
.header-text h1 span{
    color:rgb(243, 4, 4);
} 
/*--- about---------*/
#about{
    padding:80px;
    color:rgb(180, 57, 57); /*about me*/
}
.about-col-1 img{
   width: 300px;
   border-radius: 1px;
}
.row{
    display: flex;
    justify-content: space-between;
 /*   align-items: flex-start;*/
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 40%;
}

.about-col-2{
    flex-basis:60%;
}
.sub-title{
    font-size: 55px;
    color:rgb(223, 131, 18); 
}

.about-col-2 p{
    font-size: 20px;
    color:rgb(240, 232, 232);
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links:hover::after{
    content:'';
    width: 0;
    height: 3px;
    background: rgb(180, 57, 57);
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.5s;

}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style-type: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:aqua;
    font-size: 14px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*----------------Services----------*/

#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50PX;
}
.services-list h2 {
    color: rgb(173, 207, 47);
    margin: 20px;;
}

.services-list p {
    color: rgb(255, 254, 254); /* Change text color of paragraphs */
     /* Improve readability with line height */
     font-size:medium;
}
.services-list  a{
    font-size: large;
    color: rgb(32, 114, 190);
}
.container {
    max-width: 120000px; /* Optional: ensures the container doesn't stretch too wide */
    margin: 0 auto; /* Center-align the content */
}

.services-list div{
    background: #3d3d3d;
    padding: 15px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
   transition: background0.5s, transform 0.5s;
    box-sizing: border-box;
}
.fa-brands.fa-webflow {
    color: white;
    font-size: 40px;
}
.fa-solid.fa-life-ring{
    color: white;
    font-size: 40px;
}
.fa-solid.fa-web-awesome{
    color: white;
    font-size: 40px;
}
.services-list div a{
    text-decoration: dotted;
    border-top: 2000px;
    color:rgb(27, 182, 40);
    font-size: 16px;
    display: inline-block;
    margin-top: 10px;

}
.services-list div:hover{
    background: red;
    transform: translate(10px);
}
/*----------------------Portfolio---------------------------*/
#portfolio{
    padding: 30px 0;
}

.workList {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50PX;

}

/* Container for each work item */
.work {
    position: relative; /* Allows the .layer to position relative to .work */
    width: 300px; /* Set a fixed width or use a percentage if needed */
    height: 200px; /* Adjust based on your image height */
    margin: 10px;
    overflow:hidden;
}

/* Image styling within .work with hover scale */
.work img {
    width: 100%; /* Full width of .work container */
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s; /* Smooth scaling effect */
}

/* Layer overlay styling */
.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(240, 125, 125, 0.8); /* Semi-transparent overlay */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
    text-align: center;
    opacity: 0; /* Hidden initially */
    transition: opacity 0.5s; /* Fade-in effect on hover */
}

/* Text styling within the overlay */
.layer h3, .layer p {
    color: aliceblue;
    margin: 5px 0;
}

/* Icon styling if needed */
.layer a {
    color: aliceblue;
    margin-top: 10px;
}

.work:hover img {
    transform: scale(1.1); 
}

.work:hover .layer {
    opacity: 1; 
} 

/*------------------------------Contact---------------------------*/
.contact-left{
    flex-basic: 35%
}
.contact-right{
    flex-basis: 60%;
}
 