body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(61, 143, 143);
}

:root {
  --red: red;
  --gray: gray;
}

.hero_content h1 {
  margin-top: 500px;
  line-height: 102px;
  font-size: 80px;
  font-weight: 600;
}

.hero_content {
  scroll-margin-top: 100px;
  padding-left: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  margin: 0 40px;
  height: 100px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 70px;
}

nav ul {
  gap: 40;
}


.hero_content span {
  padding-left: 200px;
}

.hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 72vh);
  
}

.hero_button {
  display: flex;
  gap: 200px;
  font-size: 25px;
}

.one {
  background-color: red;
  color: white;
  border-color: red;
}

.two {
  background-color: rgb(209, 203, 203);
  border-color: rgb(202, 199, 199);
  color: rgb(4, 58, 4);
}

.detail {
  display: flex;
  align-items: center; 
  gap: 20px; 
}

.detail img {
  width: 50px;
  height: 50px;
}


.img1 {
  padding-right: 0px;
  padding: 6px 16px;
}

.hero_img {
  display: flex;
  height: 400px;
  padding-top: 400px;
  padding-left: auto;
  padding-right: 100px;

}
.logo{
  background-color: rgb(85, 136, 136);
}
ul li{
  background-color: red;
}